[submodule "setAssociative_cache_mapping"]
	path = setAssociative_cache_mapping
	url = https://github.com/priyanshu029jain/setAssociative_cache_mapping.git
[submodule "register_file"]
	path = register_file
	url = https://github.com/priyanshu029jain/register_file.git
[submodule "FIFO"]
	path = FIFO
	url = https://github.com/priyanshu029jain/FIFO.git
[submodule "RAM"]
	path = RAM
	url = https://github.com/priyanshu029jain/RAM.git
